html
  head
    title= title
  body
    h1 here are our users
    - var values = signedup_users;
    ul
    each val in values.length ? values : ['There are no users']
        li= val.user_signup_email